/* Custom imports */
@font-face {
  font-family: "Avenir-Light";
  src: url(../fonts/AvenirLight.ttf) format("truetype");
}

.w-30 {
  width: 35vmin;
}

header {
  /* ANIMATED X */
  /* ANIMATED X COLLAPSED */
  /* END ANIMATED X */
}

header nav {
  font-family: "Avenir-Light";
  font-size: clamp(1.8vmin, 1.3vw, 4vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10vmin 0px 50px grey, -10vmin 0px 50px grey;
          box-shadow: 10vmin 0px 50px grey, -10vmin 0px 50px grey;
}

header nav .navbar-brand img {
  width: clamp(17vh, 20vmin, 25vmin) !important;
}

header nav li {
  margin-left: 4vmin;
}

header nav li:nth-child(2),
header nav li:nth-child(4) {
  display: none;
}

header nav .navbar-nav {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .active {
  color: #003778 !important;
}

header nav li a {
  color: grey !important;
}

header nav li a:hover {
  color: #003778 !important;
}

header nav .icon-bar {
  width: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1.2px solid #003778;
  background-color: #003778;
  margin: 3px;
  height: 3px;
}

header .navbar-toggler {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none !important;
  border: none;
  background: transparent !important;
}

header .navbar-toggler:hover {
  background: transparent !important;
}

header .navbar-toggler .icon-bar {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 5% 40%;
          transform-origin: 5% 40%;
}

header .navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

header .navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

header .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

header .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

header .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media (max-width: 992px) {
  header .navbar-collapse {
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 60%;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    text-align: left;
  }
  header .navbar-collapse li:nth-child(2),
  header .navbar-collapse li:nth-child(4) {
    display: block;
  }
  header .navbar-collapse.collapsing {
    left: -75%;
    -webkit-transition: height 0s ease;
    transition: height 0s ease;
  }
  header .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out;
  }
  header .navbar-toggler.collapsed ~ .navbar-collapse {
    -webkit-transition: left 500ms ease-in-out;
    transition: left 500ms ease-in-out;
  }
  header li {
    border-bottom: 0.5px solid lightgrey;
  }
}

header .banner {
  height: 60vmin;
  width: 100vw;
}

.section-1-purotech,
.section-2-meetpuro {
  text-align: center;
}

.section-1-purotech .section-img,
.section-2-meetpuro .section-img {
  width: 32vmin;
  margin-bottom: 7vmin;
}

.section-1-purotech .purotech-data,
.section-2-meetpuro .purotech-data {
  padding: 0 6vmin;
}

.section-1-purotech .purotech-data .purotech-title,
.section-2-meetpuro .purotech-data .purotech-title {
  padding: 0 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1-purotech .purotech-data .purotech-title .title-logo,
.section-2-meetpuro .purotech-data .purotech-title .title-logo {
  width: auto;
  height: 8vmin;
}

.section-1-purotech .purotech-data .purotech-title .title-payment1,
.section-2-meetpuro .purotech-data .purotech-title .title-payment1 {
  width: 15vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-1-purotech .purotech-data .purotech-title .title-payment2,
.section-2-meetpuro .purotech-data .purotech-title .title-payment2 {
  width: 17vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-1-purotech .purotech-data .purotech-title .title-payment3,
.section-2-meetpuro .purotech-data .purotech-title .title-payment3 {
  width: 13vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-1-purotech .purotech-data .purotech-info,
.section-2-meetpuro .purotech-data .purotech-info {
  padding: 0 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Helvetica";
  margin-top: 1vmin;
  margin: 2vmin 0;
}

.section-1-purotech .mobile,
.section-2-meetpuro .mobile {
  background-color: #1f5595;
  height: 38vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1-purotech .mobile img:nth-child(1),
.section-2-meetpuro .mobile img:nth-child(1) {
  width: 50vmin;
}

.section-1-purotech .mobile img:nth-child(2),
.section-2-meetpuro .mobile img:nth-child(2) {
  width: 20vmin;
}

.section-2-meetpuro .line {
  border: 4px solid #003778;
}

.section-2-meetpuro .meetpuro-data {
  padding: 0 6vmin;
}

.section-2-meetpuro .meetpuro-data .meet-img {
  padding: 5vmin;
}

.section-2-meetpuro .meetpuro-data .info-img {
  width: clamp(10vh, 15vmin, 20vmin);
  margin-bottom: 1vmin;
  margin: 2vmin 0;
}

.section-2-meetpuro .meetpuro-data .info-img3 {
  width: clamp(15vh, 22vmin, 25vmin);
  margin: 2vmin 0;
}

.section-2-meetpuro .partners {
  background-color: #1f5595;
}

.section-2-meetpuro .partners .partner-1 {
  width: clamp(20vmin, 30vmin, 50vmin);
}

.section-2-meetpuro .partners .partner-2 {
  width: clamp(20vmin, 20vmin, 50vmin);
}

.section-2-meetpuro .partners .partner-3 {
  width: clamp(20vmin, 20vmin, 50vmin);
}

.getintouch .getintouch-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center a;
      -ms-flex-pack: center a;
          justify-content: center a;
  justify-content-color: bg-secondary;
}

.getintouch .getintouch-item2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

.getintouch .v-line {
  margin: 0 !important;
  padding: 0 !important;
  height: 40px;
  border: 2px solid #003778;
}

.getintouch .mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: auto;
}

.getintouch .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */