.getintouch {
 .getintouch-item {
  display: flex;
  align-items: center;
  justify-content: center a {
   color: bg-secondary;
  }
 }

 .getintouch-item2 {
  justify-self: center;
  .telephone {
  }
 }
 .v-line {
  margin: 0 !important;
  padding: 0 !important;
  height: 40px;
  border: 2px solid $primary-color;
 }

 .mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: auto;
 }
 .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: auto;
 }
}
