.section-1-purotech,
.section-2-meetpuro {
 text-align: center;

 .section-img {
  width: 50vmin;
  margin-bottom: 7vmin;
 }

 .purotech-data {
  padding: 0 6vmin;
  .purotech-title {
   padding: 0 2vmin;
   margin-left: -2rem;
   display: flex;
   justify-content: center;
   text-align: center;

   .title-logo {
    width: auto;
    height: 9.5vmin;
    min-height: 50px;
   }

   .title-payment1 {
    width: auto;
    height: 5vmin;
    min-height: 10px;
    align-self: center;
   }

   .title-payment2 {
    width: auto;
    height: 5vmin;
    min-height: 25px;
    align-self: center;
   }

   .title-payment3 {
    width: auto;
    height: 5vmin;
    min-height: 25px;
    align-self: center;
   }
  }

  .purotech-info {
   padding: 0 2vmin;
   display: flex;
   justify-content: center;
   font-family: "Helvetica";
   margin-top: 1vmin;
   margin: 2vmin 0;
  }
 }

 .mobile {
  background-color: $secondary-color;
  height: 38vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
   &:nth-child(1) {
    width: 50vmin;
   }

   &:nth-child(2) {
    width: 20vmin;
   }
  }
 }
}

.section-2-meetpuro {
 color: $secondary-color;
 .line {
  border: 0.2vmin solid $primary-color;
  background-color: $primary-color;
 }
 .meetpuro-data {
  padding: 0 6vmin;

  .meet-img {
   width: auto;
   height: 10vmin;
   margin: 1vmin 0;
  }

  .info-img {
   width: auto;
   height: 2vh;
   margin-bottom: 1vmin;
   margin: 2vmin 0;
  }

  .info-img3 {
   width: auto;
   height: 2vh;
   margin-bottom: 1vmin;
   margin: 2vmin 0;
  }
 }

 .partners {
  background-color: $secondary-color;
  .partner-1 {
   width: clamp(20vmin, 30vmin, 50vmin);
  }
  .partner-2 {
   width: clamp(20vmin, 20vmin, 50vmin);
  }
  .partner-3 {
   width: clamp(20vmin, 20vmin, 50vmin);
  }
 }
}
