.section-1-purotech,
.section-2-meetpuro {
 text-align: center;

 .section-img {
  width: 32vmin;
  margin-bottom: 7vmin;
 }

 .purotech-data {
  padding: 0 6vmin;
  .purotech-title {
   padding: 0 2vmin;
   margin-left: -4vmin;
   display: flex;
   justify-content: center;
   text-align: center;

   .title-logo {
    width: auto;
    height: 8vmin;
   }

   .title-payment1 {
    width: 15vmin;
    align-self: center;
   }

   .title-payment2 {
    width: 17vmin;
    align-self: center;
   }

   .title-payment3 {
    width: 13vmin;
    align-self: center;
   }
  }

  .purotech-info {
   padding: 0 2vmin;
   display: flex;
   justify-content: center;
   font-family: "Helvetica";
   margin-top: 1vmin;
   margin: 2vmin 0;
  }
 }

 .mobile {
  background-color: $secondary-color;
  height: 38vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
   &:nth-child(1) {
    width: 50vmin;
   }

   &:nth-child(2) {
    width: 20vmin;
   }
  }
 }
}

.section-2-meetpuro {
 .line {
  border: 4px solid $primary-color;
 }
 .meetpuro-data {
  padding: 0 6vmin;

  .meet-img {
   padding: 5vmin;
  }

  .info-img {
   width: clamp(10vh, 15vmin, 20vmin);
   margin-bottom: 1vmin;
   margin: 2vmin 0;
  }
  .info-img3 {
   width: clamp(15vh, 22vmin, 25vmin);
   margin: 2vmin 0;
  }
 }

 .partners {
  background-color: $secondary-color;
  .partner-1 {
   width: clamp(20vmin, 30vmin, 50vmin);
  }
  .partner-2 {
   width: clamp(20vmin, 20vmin, 50vmin);
  }
  .partner-3 {
   width: clamp(20vmin, 20vmin, 50vmin);
  }
 }
}
