@font-face {
 font-family: "Avenir-Light";
 src: url(../../fonts/AvenirLight.ttf) format("truetype");
}

@font-face {
 font-family: "Palatino-Linotype";
 src: url(../../fonts/PalatinoLinotype.ttf) format("truetype");
}

$font-avenir-light: "Avenir-Light";
$font-palatino-linotype: "Palatino-Linotype";

$primary-color: rgb(0, 55, 120);
$secondary-color: rgb(31, 85, 149);

//Classes
.w-30 {
 width: 35vmin;
}

.section-img {
 width: 50vmin;
}

.bg-primary-1 {
 background-color: $primary-color;
}

.bg-secondary-1 {
 background-color: $secondary-color;
}

.active-indicator {
 background-color: $primary-color;
}

.error {
 outline: 2px solid red;
 border: none !important;
}
