@font-face {
 font-family: "Avenir-Light";
 src: url(../fonts/AvenirLight.ttf) format("truetype");
}

$font-avenir-light: "Avenir-Light";

$primary-color: #003778;
$secondary-color: rgb(31, 85, 149);

//Classes
.w-30 {
 width: 35vmin;
}

.section-img {
 width: 50vmin;
}
